main {
    padding: 20px;
    font-family: 'Noto Sans JP', sans-serif; 
    background-color: #f9f9f9; 
}

h1 {
    text-align: center;
    color: #333;
}

.tab {
    text-align: center;
    margin-bottom: 20px;
}

.tab button {
    background-color: #ff69b4; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.tab button:hover {
    background-color: #ff1493; 
}

.tabcontent {
    display: none; 
    padding: 20px;
    border: 1px solid #ff69b4; 
    border-radius: 5px; 
    background-color: white; 
}

.grid-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.normal-characters, .dakuten-characters, .yoon-characters {
    width: 30%; 
    margin-bottom: 20px;
}

.grid-inner {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    transform: scale(1.05); 
}

.card-header {
    background-color: #ff69b4; 
    color: white; 
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}

.card-body {
    padding: 15px;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffd0d0;
    border-radius: 50px;
    width: 50%;
    text-align: center;
}
#popup-char_value {
    font-size: 50px;
    margin-bottom: 50px;
}

#popup-description {
    font-size: 28px;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; 
    font-size: 20px; 
}

.dakuten-characters .card-header{
    background-color: rgb(114, 212, 116);
}
.yoon-characters .card-header{
    background-color: #333;
}