

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 20px 0;
    text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    font-size: 17px;
    margin: 0 5px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}


.grid-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.normal-characters, .dakuten-characters, .yoon-characters {
    width: 32%;
}

.grid-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.normal-characters {
    grid-column: 1;
    grid-row: 1;
}

.dakuten-characters {
    grid-column: 2;
    grid-row: 1;
}

.yoon-characters {
    grid-column: 2;
    grid-row: 2;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #f0f0f0;
}

.card-header {
    font-size: 1.5em;
}

.card-body {
    font-size: 1em;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
