/* styles.css */
/* public/css/form-styles.css */
/*                     ^                         HEADHEADHEADHEADHEADHEADHEADHEADHEADHEAD                         */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f3e7e9 0%, #e3eeff 100%);
    
}
::-webkit-scrollbar {
    width: 20px;
    
  }
  ::-webkit-scrollbar-track {
      background: linear-gradient(135deg, #eac0c7 0%, #e3eeff 100%);

    border-radius: 50px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #aaaeb7; 
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.header {
    background-color: #ff6aba;
    color: #fff;
    padding: 5px 50px;
}

.header .logo img {
    height: 80px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header .logo_section {
    margin-left: 5%;
    flex: 1;
    display: flex;
    align-items: center;
}

.header .menu-area {
    flex: 2;
    display: flex;
    justify-content: center;
}

.menu-area-main {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-area-main li {
    margin: 0 15px;
}

.menu-area-main li a {
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.menu-area-main li a:hover {
    color: #0056b3;
    background-color: #ffffff;
    border-radius: 5px;
}

.header .menu-right {
    display: flex;
    align-items: center;
}

.header .menu-right li {
    margin-left: 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .menu-area-main {
        flex-direction: column;
        align-items: center;
    }

    .menu-area-main li {
        display: block;
        margin: 10px 0;
    }

    .header .container {
        flex-direction: column;
    }

    .header .menu-area {
        text-align: center;
    }
}

/*                     >                         HEADHEADHEADHEADHEADHEADHEADHEADHEADHEAD                         */
/* public/css/styles.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-image img {
    width: 250px;
}


/*          sidebar               */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

select,
button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #3bc92b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.translation {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #e9ecef;
}

.error {
    color: red;
    text-align: center;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.translator-container {
    background-color: white;
    width: 100%;
    max-width: 100%;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.translator-container h1 {
    font-size: 3rem;
    color: #4285f4;
    margin-bottom: 20px;
}

.translator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250%;
}

.translator-form textarea {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 100px;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden; /* Hide scrollbar */
    resize: none; /* Disable manual resize */
}


.translator-form select,
.translator-form button {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.translator-form button {
    background-color: #4285f4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.translator-form button:hover {
    background-color: #357ae8;
}

.translation {
    background-color: #e8f0fe;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d1e3fe;
    margin-top: 20px;
    font-size: 1.1rem;
}

.translation h2 {
    margin-bottom: 10px;
}

.translation p {
    color: #202124;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

.scrollable-section {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #333;
}

.scroll-container-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}

.scroll-container {
    display: flex;
    padding: 10px;
}

.scroll-item {
    display: inline-block;
    width: 350px;
    margin: 0 10px;
    background-color: #e6e6f3;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.scroll-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.scroll-item h3 {
    font-size: 1.2em;
    margin: 10px;
    color: #5476ca;
}

.scroll-item p {
    padding: 0 10px 10px;
    color: #666;
}

.scroll-item-link {
    text-decoration: none;
    color: inherit;
}

.scroll-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

p {
    font-size: 1rem;
    margin-top: 5px;
}

.scroll-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.scroll-btn:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .translation-controls {
        flex-direction: column;
        align-items: stretch;
    }

    .translation-controls textarea {
        width: 100%;
    }

    .translation-controls select,
    .translation-controls button {
        width: 100%;
        margin: 5px 0;
    }
}

.tran-section {
    margin: 50px;
    padding: 50px;
    background-color: #ebe6d5;
}


.choice-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.choice-group input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.choice-group button {
    flex-shrink: 0;
}

*/ .tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

footer {
    background-color: #ff69b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-box {
    text-align: center;
}

.footer-box h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.footer-box span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 14px;
    margin: 5px 0;
}

.location_icon {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.location_icon li {
    display: inline;
    margin: 0 10px;
}

.location_icon a {
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s;
}

.location_icon a:hover {
    color: #ffcccb;
}

.menu-bottom {
    margin-top: 20px;
}

.menu-bottom .link {
    list-style: none;
    padding: 0;
}

.menu-bottom .link li {
    display: inline;
    margin: 0 15px;
}

.menu-bottom .link a {
    color: #ffffff;
    text-decoration: none;
    margin: 50px;
}

.menu-bottom .link a:hover {
    text-decoration: underline;
}

.copyright {
    background-color: #ff4f81;
    padding: 10px 0;    text-align: center;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}

.copyright a {
    color: #ffffff;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {

    .search-tabs .container {
        flex-direction: column;
        gap: 10px;
    }

    #searchBox {
        width: 100%;
    }
}

section.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

article {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}


#results-container {
    margin-top: 2rem;
}

.question-result {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-result p {
    margin: 10px 0;
}

.choices {
    margin: 10px 0;
}

.choices div {
    margin: 5px 0;
}

.choices input[type="radio"] {
    margin-right: 10px;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.back-link:hover {
    background-color: #357ABD;
}
.score {
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold;
    color: #0e7b12;
    margin: 20px 0;
    padding: 10px;
    background-color: #e8f5e9;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.dropbtn {
    background-color: #2e172c;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 20px;
    border: none;
    margin-right: 20px;
    text-decoration: none; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8e3e61;
}


