<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<style>


</style>
<body>

    <script src="/js/opennav-script.js"></script>
    <header>
        <div class="header">
            <div class="container">
                <button class="openbtn" onclick="openNav()">☰</button>
                <div class="logo_section">
                    <div class="logo">
                        <a href="/"><img src="images/logo.png" alt="#"></a>
                    </div>
                </div>
                <div class="menu-area">
                    <nav class="main-menu">
                        <ul class="menu-area-main">
                            <li><a href="/">Home</a></li>
                            <li><a href="/characters">ตัวอักษร</a></li>
                            <li><a href="/lessons">บทเรียน</a></li>
                            <li><a href="/tests">Quiz</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="menu-right">
                    <li class="dropdown">
                        <a href="#" class="dropbtn"><% if (user) { %><%= user.username %><% } else { %>Account<% } %></a>
                        <div class="dropdown-content">
                            <% if (user) { %>
                                <a href="/profile">Profile</a>
                                <a href="/logout">ออกจากระบบ</a>
                            <% } else { %>
                                <a id="bt-link" href="/login">Log In</a>
                                <a id="bt-link" href="/sign_up">Sign Up</a>
                            <% } %>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/profile">My profile</a>
        </div>
    </header>

    <main class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button class="submit-login" type="submit">Login</button>
        </form>
        

    <script src="/js/login-script.js"></script>
</body>
</html>
